<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>VK APP</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/fluent.min.css">
    <link rel="stylesheet" href="../assets/css/micon.min.css">
  </head>
  <body>




    <div style="height: 100vh">
      <div class="flex-center flex-column ">
        <h1 class="mb-4 text-right"><span class="text-primary font-weight-bold">VK APP</span></h1>

        <h5 class="mb-3">Thanks for using our product. <a target="http" href="https://vk.com/dev_is">Group in VK</a></h5>

        <button id="auth" class="btn btn-primary">VK Login</button>

        <p style="word-wrap: break-word; width: 600px;" id="token"></p>

      </div>
    </div>



    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
      <script src="../assets/js/jquery-3.3.1.min.js"></script>
      <script src="../assets/js/popper.min.js"></script>
      <script src="../assets/js/bootstrap.min.js"></script>
    <script>if (window.module) module = window.module;</script>

    <script src="./index.js"></script>

  </body>
</html>
